body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f5f7fb;
  color:#333;
}

/* HEADER */

header{
  background:#111827;
  color:white;
  text-align:center;
  padding:70px 20px;
}

header h1{
  font-size:42px;
  margin-bottom:10px;
}

header p{
  color:#d1d5db;
}

header a{
  display:inline-block;
  margin-top:15px;
  color:#60a5fa;
  text-decoration:none;
  font-weight:bold;
}

/* SECTIONS */

section{
  max-width:900px;
  margin:auto;
  padding:50px 20px;
}

h2{
  text-align:center;
  margin-bottom:40px;
}

/* PROJECT CARDS */

.project{
  background:white;
  padding:25px;
  margin-bottom:25px;
  border-radius:10px;
  box-shadow:0 6px 15px rgba(0,0,0,0.08);
  transition:transform 0.2s ease;
}

.project:hover{
  transform:translateY(-5px);
}

.project h3{
  margin-top:0;
}

.project a{
  color:#2563eb;
  text-decoration:none;
  font-weight:bold;
}

/* BLOG */

article{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 6px 15px rgba(0,0,0,0.08);
}

nav{
  background:white;
  padding:15px;
  display:flex;
  justify-content:center;
  gap:30px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

nav a{
  text-decoration:none;
  color:#333;
  font-weight:600;
}

nav a:hover{
  color:#2563eb;
}